@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/font/utm_bryantlg-webfont.woff) format("woff2"), url(../assets/font/utm_bryantlg-webfont.woff2) format("woff");
  font-weight: normal;
  font-style: normal; }
.home {
  background-color: white;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 14px; }

.backout {
  border: none !important;
  box-shadow: none !important; }

.my-1 {
  display: none; }

:root {
  width: 100%;
  height: 100%; }

.right-link {
  width: 100%; }

.navbar-collapse {
  display: flex; }

.mr-auto {
  width: 100%;
  justify-content: flex-end; }

.logo {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px; }

.img-hapo {
  width: 100%; }

.text-text {
  background-color: #b2d235;
  border-radius: 17px; }

.texthome {
  color: #ffffff !important; }

.navbar a:hover {
  border-radius: 17px;
  color: azure; }

.nav-item {
  padding-left: 7px;
  padding-right: 5px; }

.nav-item a:hover {
  color: white !important;
  background: #b2d235; }

.nav-link {
  padding-left: 18px !important;
  padding-right: 18px !important;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #505353;
  font-size: 17px;
  line-height: 19px;
  border-radius: 17px; }
  .nav-link a:hover {
    color: white; }

@media screen and (max-width: 768px) {
  .navbar {
    padding-bottom: 8.5rem; }

  .nav-link {
    font-size: 13px; }

  .text-text {
    height: 36px; }

  .img-hapo {
    width: 40%;
    position: absolute;
    left: 12.5rem;
    text-align: center;
    margin-left: 0; }

  .navbar-toggler {
    display: none; }

  .collapse {
    position: absolute;
    top: 64%;
    right: 3px; }

  .collapse:not(.show) {
    display: flex; }
    .collapse:not(.show) .navbar-nav {
      display: flex;
      flex-direction: row; }
      .collapse:not(.show) .navbar-nav .nav-item {
        padding: 0px 25px; } }
@media screen and (max-width: 414px) {
  .home {
    background-color: white;
    padding: 0; }

  .img-close-header {
    display: none; }

  .navbar {
    background-color: White;
    display: flex;
    flex-direction: column; }

  .navbar-toggler {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    border: 0;
    margin-top: 5px; }

  .collapse:not(.show) {
    display: none; }

  .navbar-toggler-icon {
    font-size: inherit; }

  .img-hapo {
    width: 58%;
    margin-left: 74px;
    position: initial;
    top: 0; }

  .collapse {
    position: initial; }

  .navbar-nav {
    align-items: center; }

  .nav-link {
    margin-top: 10px; }

  .texthome {
    color: rgba(0, 0, 0, 0.55) !important; }

  .text-text {
    background-color: #ffffff; }

  .nav-item a:hover {
    color: #b2d235 !important;
    background-color: #ffffff; } }
.content-banner {
  background-image: url("../img/hapo_learn_banner.png");
  background-repeat: no-repeat;
  height: 655px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px; }

.banner-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 88px; }

.text-learn {
  font-family: "utm_bryantlgregular";
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.05em;
  color: #11114e; }

.background-linear-gradient {
  background-image: linear-gradient(0deg, #e5e5e5, white);
  height: 130px; }

.text-at {
  font-family: "utm_bryantlgregular";
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  -webkit-text-stroke-width: 2px;
  color: #11114e; }

.text-inter {
  margin-top: 17px;
  color: #505353;
  display: block;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-family: "utm_bryantlgregular"; }

.text-inter-practice {
  color: #505353;
  display: block;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-family: "utm_bryantlgregular"; }

.text-start {
  cursor: pointer;
  width: 60%;
  padding: 8px 46px;
  margin-top: 35px;
  font-weight: 600;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: -0.05em;
  color: aliceblue;
  border: 0.3px solid aliceblue;
  background: #b2d235;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font-family: "utm_bryantlgregular"; }
  .text-start:hover {
    color: black; }

.group {
  padding: 87px 0px;
  margin-top: -147px; }

.text-ruby {
  padding: 0px;
  margin-top: 41px; }

.btn-primary {
  color: #fff;
  border-radius: 35px;
  background-color: #b2d235;
  border-color: white; }

.text-take {
  box-shadow: inset 0px 1.5px 2px #6f8710;
  height: 40px; }

.card {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  text-align: center; }

.laravel-logo {
  background-color: #dc594c;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 200px; }

.logo {
  border-radius: 15px 15px 0px 0px;
  margin: 0; }

.html {
  background-color: #3f6185; }

.html-css {
  background-color: #24abe2;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 200px; }

.col-text {
  padding-right: 15px;
  padding-left: 15px; }

.laravel {
  background-color: #dc594c; }

.php {
  background-color: #556598; }

.php-java {
  background: #1b75bb;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 200px; }

.card-img-top {
  width: 66%;
  margin-bottom: 23px;
  margin-top: 23px; }

.card-text {
  font-family: "utm_bryantlgregular";
  color: #505353;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px; }

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1140px; }

.card-text-new {
  font-family: "utm_bryantlgregular";
  color: #505353;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px; }

.card-img-left {
  width: 54%;
  margin-bottom: 23px;
  margin-top: 23px; }

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #b2d235;
  font-family: "utm_bryantlgregular"; }

.other {
  text-align: center;
  margin-top: -14px;
  color: #11114e; }

.other-feed {
  text-align: center;
  margin-top: 50px;
  color: #11114e; }

.text-other {
  -webkit-text-stroke-width: 3px;
  font-weight: 700;
  width: 100%;
  margin-top: 106px;
  font-size: 80px;
  text-align: center;
  display: inline;
  border-bottom: 5px #b2d235 solid;
  border-radius: 3px;
  font-family: "utm_bryantlgregular"; }

.card-img-css {
  width: 66%; }

.card-img-laravel {
  width: 66%;
  margin-bottom: 59px;
  margin-top: 69px; }

.card-img-java {
  width: 66%; }

.view {
  text-align: center;
  margin-top: 39px; }

.btn-text-view {
  font-size: 40px;
  color: #748b18;
  text-decoration: blink;
  font-family: "utm_bryantlgregular";
  -webkit-text-stroke-width: 2px; }
  .btn-text-view:hover {
    color: #748b18; }

.arrow {
  width: 3%;
  margin-top: -10px; }

.why-hapo {
  background-size: cover;
  background-image: url("../img/rectangle_17.png");
  height: 730px;
  margin-top: 90px; }
  .why-hapo .col-hapo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -35px; }

.col-right {
  align-items: initial !important;
  margin-top: 16rem !important; }

.card-body .text-take {
  background: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 40px;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 32px;
  margin: 10px 0;
  color: white;
  font-family: "utm_bryantlgregular"; }
  .card-body .text-take:hover {
    color: black;
    border-color: white; }

.col-left {
  justify-content: flex-end;
  margin-bottom: 50px; }

.cotainer-laptop {
  position: relative; }

.img-laptop {
  position: absolute;
  top: -12rem;
  left: 0px; }

.img-mobi {
  width: 75%; }

.img {
  width: 100%; }

.text-why {
  color: aliceblue;
  font-size: 65px;
  font-family: "utm_bryantlgregular";
  font-weight: 700; }

.text-interactive {
  color: aliceblue;
  font-size: 20px;
  font-family: "utm_bryantlgregular"; }

.text-what {
  font-weight: 600;
  color: #505353;
  text-align: center;
  font-size: 25px;
  font-family: "utm_bryantlgregular"; }

.text-feed {
  -webkit-text-stroke-width: 3px;
  width: 100%;
  font-size: 80px;
  text-align: center;
  display: inline;
  border-bottom: 5px #b2d235 solid;
  border-radius: 3px;
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  color: #11114e; }

.row-feedback {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  position: relative; }

.feedback-content-row {
  padding: 0 40px;
  border: 0.5px solid #e2e2e2;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

.feedback-content {
  font-size: 20px;
  color: #505353;
  font-weight: 600;
  border-left: 2px #707575 solid;
  padding-left: 15px;
  margin: 30px 0;
  font-family: "utm_bryantlgregular"; }

.seed {
  position: absolute;
  width: 89px;
  bottom: 100px;
  left: 33px; }

.user-feedback {
  margin-top: 50px; }

.name-feedback {
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  color: #11114e;
  -webkit-text-stroke-width: 0.5px;
  font-family: "utm_bryantlgregular"; }

.img-feedback {
  margin-left: 18px; }

.checked {
  color: #f2c54f; }

.icon-feedback {
  top: 23%;
  margin-left: -16px;
  font-weight: 300;
  z-index: 999;
  height: 1em;
  color: #969494;
  background: white;
  border-radius: 50%;
  position: absolute;
  text-decoration: none; }
  .icon-feedback:hover {
    text-decoration: none;
    color: #969494; }

.img-become {
  background-image: url("../img/img_become.png");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 70px; }

.icon-feedbackright {
  display: contents;
  font-weight: 300;
  height: 1em;
  color: #969494;
  background: white;
  border-radius: 50%;
  position: absolute;
  text-decoration: none; }
  .icon-feedbackright:hover {
    text-decoration: none;
    color: #969494; }

.fa-chevron-circle-right:before {
  margin-top: 62px;
  margin-left: -29px;
  z-index: 999;
  background: white;
  height: 30px; }

.become {
  display: flex;
  width: 100%;
  justify-content: center; }

.text-become {
  font-size: 60px;
  color: aliceblue;
  width: 100%;
  text-align: center;
  margin-top: 75px;
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  -webkit-text-stroke-width: 2px; }

.text-startlearning {
  cursor: pointer;
  padding: 10px 35px;
  background-color: white;
  font-family: "utm_bryantlgregular";
  color: #b2d235;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: inset 0px 2px 2px #e3e7e7;
  font-size: 25px;
  font-weight: 900; }
  .text-startlearning:hover {
    color: black; }

.learning {
  display: flex;
  width: 100%;
  justify-content: center; }

.static {
  text-align: center;
  margin-top: 55px; }

.text-static {
  width: 100%;
  font-size: 80px;
  display: inline;
  border-bottom: 5px #b2d235 solid;
  border-radius: 3px;
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  color: #11114e; }

.row-statistic-index {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0; }

.col-statistic {
  text-align: center;
  font-size: 29px; }

.text-index {
  color: #b2d235; }

.text-courses {
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  color: #505353;
  font-size: 60px; }

.text-index {
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  font-size: 60px; }

@media screen and (max-width: 768px) {
  .content-banner {
    height: 337px; }

  .text-learn {
    font-size: 27px;
    line-height: 18px; }

  .banner-text {
    margin-left: 41px; }

  .text-at {
    font-size: 31px; }

  .text-inter {
    font-size: 17px;
    margin: 0; }

  .text-inter-practice {
    font-size: 17px;
    line-height: 9px; }

  .all {
    width: 119px; }

  .text-start {
    font-size: 21px;
    margin-top: 19px;
    padding: 0;
    width: 50%; }

  .text-row {
    margin: 0;
    display: flex;
    flex-wrap: initial; }

  .ruby {
    margin: 0;
    display: flex;
    flex-wrap: initial; }

  .row > * {
    width: 33%; }

  .card-body .text-take {
    padding: 5px 32px;
    font-size: 13px;
    margin: 0px;
    height: 33px; }

  .take {
    margin-top: 10px; }

  .card-text-new {
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 19px; }

  .card-title {
    font-size: 18px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 22px; }

  .card-text {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }

  .group {
    padding: 0px;
    margin-top: -71px;
    max-width: 712px; }

  .col-text {
    padding-right: 3px;
    padding-left: 11px; }

  .other {
    margin-top: 40px; }

  .text-other {
    font-size: 48px;
    -webkit-text-stroke-width: 2px;
    font-weight: unset; }

  .card-img-laravel {
    margin-bottom: 59px;
    margin-top: 57px; }

  .btn-text-view {
    font-size: 29px; }

  .card-img-java {
    width: 66%;
    margin-bottom: 37px;
    margin-top: 32px; }

  .html-css {
    height: 130px; }

  .laravel-logo {
    height: 130px; }

  .php-java {
    height: 130px; }

  .view {
    margin-top: 39px; }

  .text-ruby {
    padding: 0px;
    margin-top: 47px;
    max-width: 712px; }

  .why-hapo {
    height: 446px; }

  .img-laptop {
    width: 57%;
    top: -17rem; }

  .fa-chevron-circle-right:before {
    margin-top: 72px; }

  .img-mobi {
    width: 100%; }

  .row-why .col-hapo {
    width: 50%;
    margin-top: 137px !important; }

  .text-interactive {
    font-size: 13px; }

  .inner {
    margin-top: 55px; }

  .text-why {
    font-size: 50px;
    position: absolute;
    top: -2em;
    right: -5em; }

  .feedback-left {
    width: 89%; }

  .feedback-content {
    width: 90%; }

  .feedback-right {
    display: none; }

  .seed {
    width: 89px; }

  .text-static {
    font-size: 45px; }

  .text-courses {
    font-size: 40px; }

  .text-index {
    font-size: 40px; }

  .col-img {
    width: 10%; }

  .carousel-control-prev {
    margin-left: 8px;
    margin-top: 60px; }

  .carousel-control-next {
    margin-right: 8px;
    margin-top: 60px; }

  .img-become {
    height: 266px; }

  .text-become {
    font-size: 29px; }

  .text-startlearning {
    font-size: 23px;
    margin-top: 0px; }

  .icon-feedbackright {
    margin-left: 43.5rem; }

  .icon-feedback {
    margin-left: -16px; }

  .col-button {
    width: 34%; }

  .col-name {
    margin-left: 25px; } }
@media screen and (max-width: 414px) {
  .content-banner {
    height: 433px;
    justify-content: flex-end;
    background-size: 476px;
    background-position-x: -100px; }

  .btn-text-view {
    font-size: 26px; }

  .arrow {
    width: 9%;
    margin-top: -4px; }

  .banner-text {
    width: 94%;
    position: absolute;
    top: 43%;
    margin-left: 19px; }

  .text-learn {
    font-size: 25px;
    margin-top: 41px;
    margin-left: 37px; }

  .text-at {
    font-size: 25px;
    margin-left: 37px; }

  .card-title {
    font-size: 20px; }

  .card-body .text-take {
    padding: 2px 33px;
    font-size: 18px; }

  .take {
    margin-top: 10px !important; }

  .text-start {
    width: 79%;
    margin-left: 31px; }

  .text-inter {
    font-size: 17px;
    margin: 0;
    margin-left: 31px; }

  .text-inter-practice {
    margin-left: 31px; }

  .inner {
    margin-top: 22px; }

  .navbar {
    position: absolute;
    z-index: 1;
    width: 95%;
    padding: 0; }

  .banner {
    padding-top: 52px; }

  .logo {
    margin: 0; }

  .group {
    padding-top: 0px;
    width: 79%;
    margin-top: -60px; }

  .text-ruby {
    width: 79%; }

  .text-row {
    margin: 0;
    display: block; }

  .ruby {
    margin: 0;
    display: block; }

  .card {
    margin-bottom: 30px; }
    .card .card-text {
      -webkit-box-orient: initial; }

  .row > * {
    width: 100%; }

  .text-other {
    font-size: 50px; }

  .img-laptop {
    width: 50%;
    top: -7rem; }

  .why-hapo {
    margin-top: 352px;
    height: 621px; }

  .row-why {
    display: block; }

  .row-why .col-hapo {
    width: 100%;
    margin-top: -280px !important; }

  .text-why {
    margin-left: 130px;
    font-size: 41px;
    margin-top: 22px;
    position: relative;
    top: 0;
    right: 0; }

  .img-mobi {
    margin-top: 242px; }

  .other {
    margin-top: 60px; }

  .text-interactive {
    font-size: 13px; }

  .feedback-left {
    width: 95%; }

  .feedback-content {
    width: 100%;
    font-size: 14px; }

  .feedback-right {
    display: none; }

  .seed {
    width: 89px; }

  .col-name {
    width: 17%; }

  .col-img {
    width: 20%; }

  .name-feedback {
    font-size: 16px; }

  .text-feed {
    font-size: 40px; }

  .text-what {
    font-size: 16px;
    padding: 22px; }

  .carousel-control-prev {
    margin-left: 0px;
    margin-top: 117px; }

  .carousel-control-next {
    margin-right: 0px;
    margin-top: 117px; }

  .img-be come {
    height: 130px; }

  .text-become {
    font-size: 23px;
    margin-top: 13px;
    -webkit-text-stroke-width: 1px; }

  .become {
    margin-top: 33px; }

  .text-startlearning {
    font-size: 18px;
    margin-top: 0px;
    padding: 8px 25px; }

  .icon-feedback {
    margin-left: -16px;
    top: 23%; }

  .fa-chevron-circle-right:before {
    margin-top: 74px; }

  .html-css {
    height: 164px; }

  .laravel-logo {
    height: 164px; }

  .php-java {
    height: 164px; } }
.footer {
  background-color: #505353;
  margin-top: 60px;
  display: flex;
  flex-direction: column; }

.row-footer {
  display: flex;
  flex-direction: row; }

.logo-sub {
  color: aliceblue; }

.text-footer {
  text-align: center;
  margin-top: 50px; }

.logo-text {
  width: 62%;
  text-align: left;
  font-size: 20px;
  color: aliceblue;
  float: right;
  font-family: "utm_bryantlgregular"; }

.contact {
  margin-top: 50px; }

.text-home {
  font-size: 20px;
  color: aliceblue;
  text-align: left;
  font-family: "utm_bryantlgregular";
  cursor: pointer;
  margin-left: 110px;
  -webkit-text-stroke-width: 0.3px; }
  .text-home:hover {
    text-decoration: underline; }

.text-terms {
  font-size: 20px;
  color: aliceblue;
  text-align: left;
  font-family: "utm_bryantlgregular";
  cursor: pointer;
  margin-left: 33px;
  -webkit-text-stroke-width: 0.3px; }
  .text-terms:hover {
    text-decoration: underline; }

.col-button {
  text-align: center;
  margin-top: 81px; }

.btn-secondary {
  background-color: #505353;
  border-color: #505353; }

.footer-bottom {
  background-color: #454545; }

.text-all {
  color: aliceblue;
  text-align: center;
  font-size: 19px;
  font-family: "utm_bryantlgregular";
  padding: 7px 0; }

.img-mess {
  z-index: 50;
  position: fixed;
  width: 360px;
  bottom: 24px;
  right: -15rem;
  cursor: pointer; }

.text-mess {
  display: none;
  height: 185px;
  padding: 1em 2em 1em 2em;
  background: white;
  border-radius: 23px;
  box-shadow: 0px 0px 8px black;
  z-index: 50;
  position: fixed;
  bottom: 110px;
  right: 68px; }

.hapolearn-text {
  color: #7f7f7f;
  line-height: 36px;
  font-weight: 600;
  font-size: 13px;
  margin-left: 24px;
  margin-top: -7px; }

.hapo-text-message {
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  color: #505353;
  padding: 12px 15px;
  line-height: 17px;
  background: #f1f0f0;
  display: flex;
  justify-content: center;
  margin-left: 19px; }

.hapo-logo {
  position: absolute;
  margin-top: 2px;
  margin-left: -20px; }

.button-messenger {
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  background: #3184f7;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin-left: 12px;
  margin-top: 14px;
  text-decoration: none; }

.chat-with-txt {
  color: #707575;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  line-height: 16px;
  letter-spacing: -0.02em; }

.button-messenger:hover {
  color: black;
  text-decoration: none; }

.close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #c4c4c4;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  right: 10px;
  top: 10px;
  margin-left: 21rem; }

.modalcontent {
  border: aliceblue;
  border-radius: inherit; }

.text-login {
  width: 50%;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px; }

.login-text {
  text-align: center;
  height: 58px;
  font-weight: 600;
  font-family: "utm_bryantlgregular";
  font-size: 25px;
  padding: 19px 0;
  margin-right: 0px;
  margin-left: 0px; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #b2d235;
  border-radius: inherit;
  text-align: center; }

.text-username {
  width: 96%;
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
  line-height: 40px; }

.text-usernamee {
  width: 83%;
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
  line-height: 40px;
  margin-left: 27px; }

.form-check-input:checked {
  background-color: #b2d235;
  border-color: #b2d235; }

.form-check-label {
  cursor: pointer;
  font-size: 18px;
  color: #505353;
  font-family: "utm_bryantlgregular";
  font-weight: 600; }

.forgot-pass {
  font-weight: 600; }

.option-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px; }
  .option-login .forgot-pass {
    color: #b2d235; }

.btn-login {
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  margin: 25px auto;
  background-color: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  display: block;
  text-align: center;
  border-radius: 35px;
  width: 35%;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  font-family: "utm_bryantlgregular"; }
  .btn-login:hover {
    color: black;
    text-decoration: none; }

.label-username {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  color: #505353;
  font-family: "utm_bryantlgregular"; }

.label-usernamee {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  color: #505353;
  font-family: "utm_bryantlgregular";
  margin-left: 27px; }

.label-password {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  color: #505353;
  font-family: "utm_bryantlgregular";
  margin-left: 27px; }

.text-with {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "utm_bryantlgregular";
  color: #505353;
  text-align: center; }

.login-with {
  margin-bottom: 0.5rem; }

.text-with {
  display: flex;
  align-items: center;
  text-align: center; }

.text-with::before,
.text-with::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000; }

.text-with::before {
  margin-right: 0.25em; }

.text-with::after {
  margin-left: 0.25em; }

.text-gg,
.text-face {
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer; }
  .text-gg .icon-gg,
  .text-gg .icon-face,
  .text-face .icon-gg,
  .text-face .icon-face {
    padding: 10px; }

.text-gg {
  margin-top: 20px;
  background-color: #dc4e41;
  padding: 9px 0;
  border-radius: 5px; }

.text-face {
  background-color: #3b5999;
  padding: 9px 0;
  border-radius: 5px;
  margin-bottom: 40px; }

.btn-close {
  background: aliceblue;
  color: #b2d235;
  opacity: 1;
  margin-left: 30rem;
  margin-top: -7px;
  height: 0.3em; }

.nav-pills {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px solid #b2d235;
  box-sizing: border-box; }

.logo-footer {
  margin-left: 100px;
  width: 56%; }

.img-but {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  margin-left: -18px;
  margin-top: -15px; }

@media screen and (max-width: 768px) {
  .text-footer {
    margin-top: 54px; }

  .logo-text {
    width: 100%;
    font-size: 15px;
    float: left;
    margin-left: 35px; }

  .text-home {
    font-size: 18px !important;
    margin-left: 13px !important; }

  .text-terms {
    font-size: 18px !important;
    margin-left: -11px !important; }

  .logo-footer {
    width: 75%;
    margin-left: 4px; }

  .contact {
    width: 16%; }

  .text-all {
    font-size: 15px; }

  .img-mess {
    right: -36%;
    bottom: 239px; }

  .text-mess {
    width: 43%;
    bottom: 31%;
    right: 31px; }

  .img-icon {
    width: 100%; }

  .btn-secondary {
    width: 64px;
    height: 40px; }

  .button-messenger {
    margin-left: 18px;
    padding: 8px 35px; }

  .chat-with-txt {
    margin-left: 16px; }

  .pass {
    margin-left: 0px; } }
@media screen and (max-width: 414px) {
  .footer {
    height: 400px; }

  .text-footer {
    text-align: left;
    position: absolute;
    margin-top: 219px; }

  .logo-text {
    width: 55%;
    font-size: 16px;
    float: left;
    margin-left: 0px; }

  .logo-footer {
    width: 47%;
    margin-top: 25px; }

  .contact {
    width: 34%; }

  .col-button {
    text-align: end;
    margin-top: 41px;
    margin-left: 0px; }

  .img-mess {
    right: -73%;
    bottom: 63px; }

  .text-mess {
    width: 90%;
    bottom: 150px;
    right: 18px; }

  .close-button {
    margin-left: 19rem; }

  .btn-secondary {
    width: 58px; }

  .modalcontent {
    margin-top: 51px;
    margin-left: 17px;
    width: 90%; }

  .btn-close {
    margin-left: 19rem; }

  .login-text {
    margin-top: 0px; }

  .terms {
    margin-left: 66px; }

  .form-check-label {
    font-size: 16px; }

  .text-login a:hover {
    color: white !important; } }

/*# sourceMappingURL=style.css.map */
