.content-banner {
  background-image: url("../img/hapo_learn_banner.png");
  background-repeat: no-repeat;
  height: 655px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 27px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-learn {
  font-family: $font_UTM_BryantLG;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.05em;
  color: $bl-color;
}

.text-at {
  font-family: $font_UTM_BryantLG;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  -webkit-text-stroke-width: 2px;
  color: $bl-color;
}

.text-inter {
  display: block;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  font-weight: 100;
}

.text-start {
  width: 50%;
  margin-top: 35px;
  font-weight: 600;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: -0.05em;
  color: $ag-color;
  border: 0.3px solid $ag-color;
  background: $cg-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  &:hover {
    background: $hover-color;
  }
}

.group {
  width: 80%;
}

.text-ruby {
  width: 80%;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  border-radius: 35px;
  background-color: #b2d235;
  border-color: white;
}

.card {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.logo {
  border-radius: 1rem;
  margin: 0;
}

.html {
  background-color: $h-color;
}

.html-css {
  background-color: #24abe2;
}

.laravel {
  background-color: $lara-color;
}

.php {
  background-color: $php-color;
}

.php-java {
  background: #1b75bb;
}

.card-img-top {
  width: 66%;
  margin-bottom: 23px;
  margin-top: 23px;
}

.card-text {
  font-family: $font_UTM_BryantLG;
  color: #505353;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.card-img-left {
  width: 54%;
  margin-bottom: 23px;
  margin-top: 23px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: $cg-color;
  font-family: $font_UTM_BryantLG;
}

.other {
  text-align: center;
}

.text-other {
  font-weight: 700;
  width: 100%;
  margin-top: 106px;
  font-size: 80px;
  text-align: center;
  display: inline;
  border-bottom: 5px $cg-color solid;
  border-radius: 3px;
  font-family: $font_UTM_BryantLG;
}

.card-img-css {
  width: 66%;
  margin-bottom: 54px;
  margin-top: 48px;
}

.card-img-laravel {
  width: 66%;
  margin-bottom: 59px;
  margin-top: 69px;
}

.card-img-java {
  width: 66%;
  margin-bottom: 32px;
  margin-top: 15px;
}

.view {
  text-align: center;
}

.btn-text-view {
  font-size: 40px;
  color: $hover-color;
  text-decoration: blink;
  font-family: $font_UTM_BryantLG;
  -webkit-text-stroke-width: 2px;
  &:hover {
    color: $hover-color;
  }
}

.arrow {
  width: 3%;
  margin-top: -10px;
}

.row-why {
  background-size: cover;
  background-image: url("../img/rectangle_17.png");
  height: 600px;
  margin-top: 90px;

  .col-hapo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.col-left {
  justify-content: flex-end;
  margin-bottom: 50px;
}

.cotainer-laptop {
  position: relative;
}

.img-laptop {
  position: absolute;
  top: 96rem;
}

.img-mobi {
  width: 100%;
}

.img {
  width: 100%;
}

.text-why {
  color: $ag-color;
  font-size: 65px;
  font-family: $font_UTM_BryantLG;
  font-weight: 700;
}

.text-interactive {
  color: $ag-color;
}

.text-what {
  text-align: center;
  font-size: 25px;
  font-family: $font_UTM_BryantLG;
}

.text-feed {
  width: 100%;
  font-size: 80px;
  text-align: center;
  display: inline;
  border-bottom: 5px $cg-color solid;
  border-radius: 3px;
  font-family: $font_UTM_BryantLG;
  font-weight: 800;
}

.row-feedback {
  display: flex;
  justify-content: center;
  margin: 0;
}

.feedback-content-row {
  padding: 0 40px;
  border: 1px solid $ag-color;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 0;
}

.feedback-content {
  font-size: 20px;
  color: black;
  border-left: 2px $ag-color solid;
  padding-left: 15px;
  margin: 30px 0;
  font-family: $font_UTM_BryantLG;
}

.seed {
  position: absolute;
  margin-top: 11.25em;
  border-left: 16px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid $ag-color;
  width: 5%;
  padding: 0px;
}

.user-feedback {
  margin-top: 50px;
}

.checked {
  color: $ck-color;
}

.carousel-control-prev {
  background-color: $bl-color;
  width: 50px;
  height: 50px;
  border: solid 5px $bl-color;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: 90px;
  margin-top: 57px;
}

.carousel-control-next {
  background-color: $bl-color;
  width: 50px;
  height: 50px;
  border: solid 5px $bl-color;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 75px;
  margin-top: 57px;
}

.img-become {
  background-image: url("../img/img_become.png");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.become {
  display: flex;
  width: 100%;
  justify-content: center;
}

.text-become {
  font-size: 60px;
  color: $ag-color;
  width: 100%;
  text-align: center;
  margin-top: 75px;
  font-family: $font_UTM_BryantLG;
  font-weight: 800;
}

.text-startlearning {
  width: 38%;
  margin-top: 35px;
  font-weight: 600;
  font-size: 27px;
  line-height: 51px;
  letter-spacing: -0.05em;
  color: $cg-color;
  border: 0.3px solid $cg-color;
  background: $ag-color;
  box-shadow: inset 0px 4px 4px $bl-color;
  border-radius: 35px;
  text-align: center;
  font-family: $font_UTM_BryantLG;
}

.learning {
  display: flex;
  width: 100%;
  justify-content: center;
}

.static {
  text-align: center;
}

.text-static {
  width: 100%;
  font-size: 80px;
  display: inline;
  border-bottom: 5px $cg-color solid;
  border-radius: 3px;
  font-family: $font_UTM_BryantLG;
  font-weight: 800;
}

.row-statistic-index {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}

.col-statistic {
  text-align: center;
  font-size: 29px;
}

.text-index {
  color: $cg-color;
}

.text-courses {
  font-family: $font_UTM_BryantLG;
  font-weight: 800;
}

.text-index {
  font-family: $font_UTM_BryantLG;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .content-banner {
    height: 337px;
  }

  .text-learn {
    font-size: 29px;
    line-height: 18px;
  }

  .text-at {
    font-size: 31px;
  }

  .text-inter {
    font-size: 17px;
  }

  .all {
    width: 90px;
  }

  .text-start {
    width: 235px;
    font-size: 22px;
    margin-top: 19px;
  }

  .text-row {
    margin: 0;
    display: flex;
    flex-wrap: initial;
  }

  .ruby {
    margin: 0;
    display: flex;
    flex-wrap: initial;
  }

  .row > * {
    width: 33%;
  }

  .card-title {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .card-text {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .group {
    margin-top: 40px;
    width: 96%;
  }

  .other {
    margin-top: 40px;
  }

  .card-img-laravel {
    margin-bottom: 59px;
    margin-top: 57px;
  }

  .card-img-java {
    width: 66%;
    margin-bottom: 37px;
    margin-top: 32px;
  }

  .text-ruby {
    width: 96%;
  }

  .row-why {
    height: 394px;
  }

  .img-laptop {
    width: 34%;
    top: 79rem;
  }

  .row-why {
    .col-hapo {
      width: 50%;
    }
  }

  .text-interactive {
    font-size: 14px;
  }

  .text-why {
    font-size: 40px;
  }

  .feedback-left {
    width: 89%;
  }

  .feedback-content {
    width: 90%;
  }

  .feedback-right {
    display: none;
  }

  .seed {
    width: 4%;
  }

  .col-img {
    width: 10%;
  }

  .carousel-control-prev {
    margin-left: 8px;
    margin-top: 60px;
  }

  .carousel-control-next {
    margin-right: 8px;
    margin-top: 60px;
  }

  .img-become {
    height: 266px;
  }

  .text-become {
    font-size: 29px;
  }

  .text-startlearning {
    font-size: 23px;
    margin-top: 0px;
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .content-banner {
    height: 433px;
    justify-content: flex-end;
    background-size: 448px;
    background-position-x: -100px;
  }

  .banner-text {
    width: 100%;
  }

  .text-learn {
    font-size: 30px;
  }

  .text-start {
    width: 90%;
  }

  .navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .banner {
    padding-top: 52px;
  }

  .logo {
    margin: 0;
  }

  .group {
    padding-top: 0px;
  }

  .text-row {
    margin: 0;
    display: block;
  }

  .ruby {
    margin: 0;
    display: block;
  }

  .card {
    margin-bottom: 30px;

    .card-text {
      -webkit-box-orient: initial;
    }
  }

  .row > * {
    width: 100%;
  }

  .text-other {
    font-size: 50px;
  }

  .img-laptop {
    position: relative;
    width: 50%;
    top: 11rem;
  }

  .row-why {
    height: 600px;
    display: block;
  }

  .row-why {
    .col-hapo {
      width: 100%;
    }
  }

  .text-why {
    font-size: 47px;
    width: 40%;
  }

  .img-mobi {
    margin-top: -41px;
  }

  .other {
    margin-top: 60px;
  }

  .text-interactive {
    font-size: 13px;
  }

  .feedback-left {
    width: 95%;
  }

  .feedback-content {
    width: 100%;
  }

  .feedback-right {
    display: none;
  }

  .seed {
    width: 4%;
    margin-top: 19.15em;
  }

  .col-name {
    width: 17%;
  }

  .text-feed {
    font-size: 40px;
  }

  .text-what {
    font-size: 13px;
  }

  .carousel-control-prev {
    margin-left: 0px;
    margin-top: 117px;
  }

  .carousel-control-next {
    margin-right: 0px;
    margin-top: 117px;
  }

  .img-be come {
    height: 130px;
  }

  .text-become {
    font-size: 15px;
    margin-top: 13px;
  }

  .text-startlearning {
    font-size: 14px;
    margin-top: 0px;
    width: 37%;
  }
}
