.footer {
  background-color: $txt-color;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.row-footer {
  display: flex;
  flex-direction: row;
}

.logo-sub {
  color: $ag-color;
}

.text-footer {
  text-align: right;
  margin-top: 50px;
}

.logo-text {
  width: 62%;
  text-align: left;
  font-size: 20px;
  color: $ag-color;
  float: right;
}

.contact {
  margin-top: 50px;
}

.text-home {
  font-size: 20px;
  color: $ag-color;
  text-align: center;
}

.col-button {
  text-align: center;
  margin-top: 50px;
}

.btn-secondary {
  background-color: $txt-color;
  border-color: $txt-color;
}

.footer-bottom {
  background-color: $bt-color;
}

.text-all {
  color: $ag-color;
  text-align: center;
  font-size: 19px;
}

@media screen and (max-width: 768px) {
  .text-footer {
    text-align: left;
  }

  .logo-text {
    width: 100%;
    font-size: 18px;
    float: left;
  }

  .logo-footer {
    width: 90%;
  }

  .contact {
    width: 15%;
  }

  .text-all {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  .footer {
    height: 400px;
  }

  .text-footer {
    text-align: left;
    position: absolute;
    margin-top: 219px;
  }

  .logo-text {
    width: 55%;
    font-size: 11px;
    float: left;
  }

  .logo-footer {
    width: 47%;
  }

  .contact {
    width: 48%;
  }

  .col-button {
    text-align: end;
    margin-top: 0;
  }
}
