.footer {
  background-color: $txt-color;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.row-footer {
  display: flex;
  flex-direction: row;
}

.logo-sub {
  color: $ag-color;
}

.text-footer {
  text-align: right;
  margin-top: 50px;
}

.logo-text {
  width: 62%;
  text-align: left;
  font-size: 20px;
  color: $ag-color;
  float: right;
  font-family: $font_UTM_BryantLG;
}

.contact {
  margin-top: 50px;
}

.text-home {
  font-size: 20px;
  color: $ag-color;
  text-align: left;
  font-family: $font_UTM_BryantLG;
  cursor: pointer;
  margin-left: 88px;
}

.col-button {
  text-align: center;
  margin-top: 50px;
}

.btn-secondary {
  background-color: $txt-color;
  border-color: $txt-color;
}

.footer-bottom {
  background-color: $bt-color;
}

.text-all {
  color: $ag-color;
  text-align: center;
  font-size: 19px;
  font-family: $font_UTM_BryantLG;
}

.img-mess {
  z-index: 50;
  position: fixed;
  width: 360px;
  bottom: 14px;
  right: -17rem;
}

.text-mess {
  display: none;
  height: 185px;
  width: 25%;
  background: white;
  border-radius: 23px;
  box-shadow: 0px 0px 8px $textmess-color;
  z-index: 50;
  position: fixed;
  bottom: 21%;
  right: 6%;
}

.hapolearn-text {
  line-height: 36px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 20px;
}

.hapo-text-message {
  border-radius: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  background: white;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 50px;
}

.hapo-logo {
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}

.button-messenger {
  display: block;
  border-radius: 10px;
  color: white;
  background: $mess-color;
  font-weight: 600;
  font-size: 19px;
  text-align: center;
  width: 83%;
  margin-left: 23px;
  margin-top: 20px;
}

.chat-with-txt {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: $chat-color;
}

.close-button {
  width: 24px;
  height: 24px;
  background: $close-color;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  right: 10px;
  top: 10px;
  margin-left: 21rem;
}

.modalcontent {
  border: $ag-color;
  border-radius: inherit;
}

.text-login {
  width: 50%;
}

.login-text {
  text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $cg-color;
  border-radius: inherit;
  text-align: center;
}

.text-username {
  width: 100%;
  background-color: $user-color;
}

.option-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  .forgot-pass {
    color: $cg-color;
  }
}

.btn-login {
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  margin: 20px auto;
  background-color: $cg-color;
  box-shadow: inset 0px 1.5px 2px $hover-color;
  display: block;
  text-align: center;
  border-radius: 20px;
  width: 50%;
}

.text-with {
  text-align: center;
}

.text-gg,
.text-face {
  font-size: 16px;
  text-align: center;
  color: white;

  .icon-gg,
  .icon-face {
    padding: 10px;
  }
}

.text-gg {
  background-color: $gg-color;
}

.text-face {
  background-color: $face-color;
}

.btn-close {
  background: $ag-color;
  color: $cg-color;
  opacity: 1;
  margin-left: 30rem;
  margin-top: -7px;
  height: 0.3em;
}

@media screen and (max-width: 768px) {
  .text-footer {
    text-align: left;
  }

  .logo-text {
    width: 100%;
    font-size: 18px;
    float: left;
  }

  .logo-footer {
    width: 90%;
  }

  .contact {
    width: 15%;
  }

  .text-all {
    font-size: 15px;
  }

  .img-mess {
    right: -36% ;
  }

  .text-mess {
    width: 48%;
  }
}

@media screen and (max-width: 414px) {
  .footer {
    height: 400px;
  }

  .text-footer {
    text-align: left;
    position: absolute;
    margin-top: 219px;
  }

  .logo-text {
    width: 55%;
    font-size: 11px;
    float: left;
  }

  .logo-footer {
    width: 47%;
  }

  .contact {
    width: 48%;
  }

  .col-button {
    text-align: end;
    margin-top: 0;
  }

  .img-mess {
    right: -77%;
  }

  .text-mess {
    width: 88%;
  } 

  .close-button {
    margin-left: 19rem;
  }
}
