.navbar{
    float: right;
    background-color: #ffff;
    a:hover {
        border-radius: 17px;
        background: #B2D235;
    }
}
.btn1{
    position: relative;
}
.btn{
    position: absolute;
    top: 0;
    left: 5%;
}