@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$ag-color: aliceblue;
$bg-color: azure;
$cg-color: #b2d235;
$txt-color:#505353;
$w-color:White;
$font-Opensans: "Open Sans", sans-serif;
