@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$ag-color: aliceblue;
$bg-color: azure;
$cg-color: #b2d235;
$txt-color:#505353;
$w-color:White;
$h-color: #3f6185;
$lara-color: #dc594c;
$php-color: #556598;
$bl-color: #11114e;
$hover-color: #748b18;
$ck-color: #f2c54f;
$bl-color: black;
$bt-color:#454545;
$font-Opensans: "Open Sans", sans-serif;
